@import '../abstracts/variables';

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body{
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: $primary-color;
}

.standard-button{
    background-color: $button-color;
    display: flex;
    border-radius: $border-radius-32;
    border-style: solid;
    border-color: $third-color;
    text-decoration: none;
    align-items: center;
    justify-content: center;

    &.dark-border{
        border-color: $primary-color;
    }

    span{
        padding: $padding-8;
        color: $text-color;
        font-weight: $weight-700;
        font-size: 16px;
        text-transform: uppercase;
    }

    &:hover{
        cursor: pointer;
    }
}