@import '../abstracts/variables';

.login-register-page{
    display: flex;
    height: 100%;

    .signin-form, .signup-form {
        width: 100%;
        padding: 32px 64px;

        .form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            input{
                padding: $padding-8;
                border-radius: $border-radius-8;
                border: none;
                font-size: 16px;
            }
        }
    }

    .signup-form {
        background-color: $third-color;
    }

    .signin-form {
        h2, p {
            color: $text-color;
        }
    }

    &.mobile {
        flex-direction: column;

        .signin-form, .signup-form {
            width: unset;
        }
    }
}