$primary-color: #343A40;
$secondary-color: #212529;
$button-color: #6C757D;
$third-color: #CED4DA;

$border-radius-32: 32px;

$padding-8: 8px;
$padding-16: 16px;
$padding-24: 24px;
$padding-32: 32px;

$weight-400: 400;
$weight-700: 700;